{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables: same as node plus:
 * content.when
 *
 * @see template_preprocess_node()
 *
 */
#}

{#
* Cette affichage permet de gerer les teasers.
*
#}
{% set lib_name = "hbk_cforge/teaser-style" %}
{% if cforge_lib_suffix %}
    {% set lib_name = lib_name ~ cforge_lib_suffix %}
{% endif %}
{{ attach_library(lib_name) }}

<div class="metro-service">
    <div class="metro-service__img">
        <a href="{{ url }}" class=" ">
            {{ content.image[0] }}
        </a>
    </div>
    <div class="metro-service__body w-100">
        <div href="{{ url }}" class="node-title">
            {% if label %}
                <h3{{ title_attributes.addClass('mb-3') }}>
                    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                </h3>
            {% endif %}
        </div>
    </div>
</div>
