@use "../drush_site_install_variables.scss" as *;
.js-text-format-wrapper {
  padding: 2rem;
  border: 1px solid #ccc;
  background: #fdfcfc;
}
legend {
  .btn-collapse {
    position: relative;
    padding-right: 5Opx;
    svg {
      position: absolute;
      right: 10px;
      width: 21px;
      height: 21px;
      aspect-ratio: 1/2;
      transform: translateY(-50%) rotate(90deg);
      top: 50%;
      transition: all 0.3s ease-in;
    }
    &[aria-expanded="true"] {
      svg {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }
}
form {
  > fieldset {
    margin-bottom: 1.5rem;
  }
}
