/**
 * @file
 * Visual styles for tabs.
 */

div.tabs {
  margin: 1em 0;
}

ul.tabs {
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
}

.tabs > li {
  display: inline-block;
  margin-right: 0.3em;
  /* LTR */
}

[dir="rtl"] .tabs > li {
  margin-right: 0;
  margin-left: 0.3em;
}

.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
}

.tabs a.is-active {
  background-color: #eee;
}

.tabs a:focus,
.tabs a:hover {
  background-color: #f5f5f5;
}

/**
 * @file
 * Visual styles for pager.
 */

.pager__items {
  clear: both;
  text-align: center;
  padding-left: 0;
}

.pager__item {
  display: inline;
  padding: 0.5em;
}

.pager__item.is-active {
  font-weight: bold;
}

/**
 * @file
 * Visual styles for menu.
 */

ul.menu {
  margin-left: 1em;
  /* LTR */
  padding: 0;
  list-style: none outside;
  text-align: left;
  /* LTR */
}

[dir="rtl"] ul.menu {
  margin-right: 1em;
  margin-left: 0;
  text-align: right;
}

.menu-item--expanded {
  list-style-type: none;
}

.menu-item--collapsed {
  list-style-type: none;
  /* LTR */
}

.menu-item {
  margin: 0;
  padding-top: 0.2em;
}

ul.menu a.is-active {
  color: #000;
}

/**
 * @file
 * Style another element as a link.
 */

button.link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 1em;
}

label button.link {
  font-weight: bold;
}

/**
 * @file
 * Visual styles for links.
 */

ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
  /* LTR */
}

[dir="rtl"] ul.inline,
[dir="rtl"] ul.links.inline {
  padding-right: 0;
  padding-left: 15px;
}

ul.inline li {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
}

ul.links a.is-active {
  color: #000;
}

/**
 * @file
 * Visual styles for form components.
 */

form .field-multiple-table {
  margin: 0;
}

form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0;
  /* LTR */
}

[dir="rtl"] form .field-multiple-table .field-multiple-drag {
  padding-left: 0;
}

form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: 0.5em;
  /* LTR */
}

[dir="rtl"] form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: 0;
  padding-left: 0.5em;
}

form .field-add-more-submit {
  margin: 0.5em 0 0;
}
// plus necessaire, car on ajoute la marge directement à travers mb-4
// /**
//  * Markup generated by Form API.
//  */
// .form-item,
// .form-actions {
//   margin-top: 1em;
//   margin-bottom: 1em;
// }

tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 0.85em;
}

label.option {
  display: inline;
  font-weight: normal;
}

.form-composite > legend,
.label {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
  /* LTR */
}

[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  margin-right: 2.4em;
  margin-left: 0;
}

.marker {
  color: #e00;
}

.form-required::after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  /* Use a background image to prevent screen readers from announcing the text. */
  //background-image: url(../../images/icons/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

abbr.tabledrag-changed,
abbr.ajax-changed {
  border-bottom: none;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red;
}

/* Inline error messages. */
.form-item--error-message::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  vertical-align: sub;
  //background: url(../../images/icons/error.svg) no-repeat;
  background-size: contain;
}

/**
 * bloc de recherche
 */
.search-block-form {
  .form-item,
  .form-actions {
    margin-bottom: 0 !important;
  }
}
