{% macro menu_links(items, attributes, menu_level, show_icone_home) %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul {{attributes.addClass('hbk-mega-menu--items')}}>
    	{% else %}
            <ul class="hbk-mega-menu--items__sub">
        {% endif %}
        {% for item in items %}
            {%
                set item_classes = [
                  'item',
                  item.is_expanded ? 'menu-item--expanded',
                  item.is_collapsed ? 'menu-item--collapsed',
                  item.in_active_trail ? 'menu-item--active-trail',
                ]
            %}
            <li {{item.attributes.addClass(item_classes)}}>{% set link_classes = ['item-link',] %}
                    {% if item.below %}
                        {{ link(item.title, item.url, {'class': link_classes, 'data-toggle': 'dropdown', 'aria-expanded': 'false', 'aria-haspopup': 'true' }) }}
                        {{ _self.menu_links(item.below, attributes, menu_level + 1) }} 
                    {% else %}
                        {% if menu_level == 0 and loop.index == 1 and show_icone_home == true %}
                            <a href="/" class="item-link"> <i class="fa fa-home"></i></a> 
                        {% else %} 
                            {{ link(item.title, item.url, {'class': link_classes}) }}
                        {% endif %}
                    {% endif %}
            </li>
        {% endfor %}
    	</ul>
    {% endif %}
{% endmacro %}

<div class="hbk-mega-menu style-merseille ">
    {{ _self.menu_links(items, attributes, 0, show_icone_home) }}
</div>
