{#
/**
 * @file
 * Default theme implementation to display a photo gallery.

 * Available variables:
 * - title: The title of the gallery
 * - link: Url to the gallery view
 * - description: the gallery description
 * - image: a random image from the gallery
#}
{{ attach_library('cforge_gallery/cforge_gallery') }}
<a href="{{ url }}">
  <div class = "cf-gallery">
    <h4>{{ title }}</h4>
    {{ image }}<br />
    {{ description }}
  </div>
</a>
