/* Style the cforge address widget. */
#edit-firstname-0-value {
  float: left;
  margin-right: 0.5em;
}
div#edit-firstname-wrapper label{
  display: table;
}

div.form-item-firstname-0-value, div.form-item-lastname-0-value{
  margin: 0;
}

/* user_profile_form */
/* @todo test this */
fieldset#edit-name-address-und-0, div.field-name-name-address span{
  clear:left;
}
form div.form-item-name-address-und-0-name-block-first-name,
form div.form-item-name-address-und-0-name-block-last-name,
form div.form-item-name-address-und-0-locality-block-postal-code{
  display:inline;
}

article.profile div.field--name-user_picture{
  float:right;
}
