/**
     * On definie les variables à ce niveau afin que les variables qui derive de ces valeurs soit ajusté.
     * Example : $wbu-h1-font-size est definie ici, les derivées $wbu-h1-font-size-md, $wbu-h1-font-size-sm vont etre
     * egalement surcharger.
     */
// select couleurs from:  https://www.canva.com/colors/color-palettes/
// colors

// 1 teal Color
$wbu-color-primary: teal;
$wbu-color-secondary: #0e0e0e;
$wbu-color-thirdly: #003a3a;
$wbu-background: #0f103e;


$wbu-link-color: $wbu-color-primary;
$wbu-bootstrap-primary: $wbu-color-primary;
// Police
$wbu-h1-font-size: 4.4rem;
$wbu-h2-font-size: 3.4rem;
$wbu-h3-font-size: 2.8rem;
$wbu-h4-font-size: 2.2rem;
$wbu-h5-font-size: 1.8rem;
$wbu-h6-font-size: 1.4rem;
$wbu-default-font-size: 1.6rem;

// On a besoin de ce fichier pour les styles ajoutés dans ./custom.scss.
// @use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
$wbu_titre_big: 5.4rem;
$wbu_titre_suppra: 7.4rem;
$wbu_titre_biggest: 6.4rem;

/**
 * On injecte toutes les variables directement dans ce fichier.
 */
@import "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss";

// Les variables qui ont besoins des informations provenant du core de
// wbu-atomique.
$space_bottom: $wbu-margin * 5;
$space_top: $wbu-margin * 4;
$space_inner_top: $space_top * 0.5;
$space_inner_top: $space_top * 0.5;
