@use "./drush_site_install_variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
@use "@stephane888/wbu-atomique/scss/atome/typography/_default.scss";
@use "@stephane888/wbu-atomique/scss/molecule/default-class.scss";
@use "./custom.scss";
@use "./input-style.scss";
@use "./node--full.scss";
@use "./components/details.scss";

body {
  .metro-service {
    min-height: 250px;
  }
  // Mise en place de la logique des layouts de base.
  @include media-min("MD") {
    .page-body {
      > .main-layout {
        > .page-sidebar {
          width: 20%;
          max-width: 20%;
          flex: 0 0 20%;
        }
      }
    }
  }
}
.container {
  max-width: 1500px !important;
  width: 100% !important;
  padding-left: $wbu-margin !important;
  padding-right: $wbu-margin !important;
}
#main-inner {
  margin: 20px;
}
.cforge-bg-light {
  background-color: $light !important;

  &::before {
    background-color: $light !important;
  }
}

.cforge-bg-gray-200 {
  background-color: $gray-200 !important;

  &::before {
    background-color: $gray-200 !important;
  }
}

.cforge-bg-gray-300 {
  background-color: $gray-300 !important;

  &::before {
    background-color: $gray-300 !important;
  }
}

.cforge-bg-gray-400 {
  background-color: $gray-400 !important;

  &::before {
    background-color: $gray-400 !important;
  }
}

.with-svg {
  position: relative;
  background-color: $light;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    aspect-ratio: 1;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: $light;
    left: 50%;
    z-index: 1;
  }
}

.page-front-body {
  @include media-min(SM) {
    padding-block: 50px 70px;
  }
}

.social-links {
  .socials--field {
    gap: 10px;

    .social-link {
      border: 2px solid $gray-600;
      padding: 5px;
      color: $gray-600;
      border-radius: 50%;
      transition: all 0.3s ease;

      svg {
        width: 32px;
        aspect-ratio: 1;
      }

      &:hover {
        color: $wbu-color-primary;
        border-color: $wbu-color-primary;
      }
    }
  }
}

nav {
  ul.cforge-menu {
    .menu-item {
      a {
        padding: 4px $wbu-margin;
        display: inline-block;
        width: 100%;
        transition: all 0.15s ease;
        font-weight: 600;
        text-decoration: none;
        color: $dark;
        position: relative;
        &:hover {
          background-color: $wbu-color-primary;
          color: color-yiq($wbu-color-primary);
          text-decoration: none;
        }
        &.is-active::before {
          position: absolute;
          height: 2px;
          top: auto;
          bottom: 0;
          left: $wbu-margin;
          right: $wbu-margin;
          background-color: $wbu-color-primary;
          width: 0;
          @include WBUtransition($temps: 0.15s);
          content: "";
          width: calc(100% - #{$wbu-margin * 2});
        }
      }
    }
  }
}
/**
 * Traitement container de page
 */
#wrapper {
  &:not(.front-page) {
    .unformatted-view-article {
      @extend .col-md-6;
    }
  }
  &.front-page {
    .unformatted-view-article {
      @extend .col-md-12;
    }
  }
  .no-side-region {
    .unformatted-view-article {
      @extend .col-md-3;
    }
  }
}

h1.page-title {
  border-left: 2px solid $wbu-color-primary;
  padding-left: 15px;
  font-weight: bold;
}
.title-block {
  margin-bottom: 2rem;
}
.page-sidebar {
  .title-block {
    border-bottom: 3px solid $wbu-color-primary;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
/**
 * Formattage des pages articles.
 */
// desactivé car non desiré par le client.
// article {
//   .links {
//     @extend .puce-check;
//     @extend .puce-check--color-secondary;
//   }
// }
article.comment {
  border-top: 1px solid $gray-400;
}

.indented {
  article.comment {
    position: relative;
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -25px;
      width: 10px;
      background-color: $wbu-color-primary;
    }
  }
}

.comment__meta {
  .comment-user-profil {
    gap: 20px;

    .user-initial {
      width: 50px;
      aspect-ratio: 1;
      position: relative;
      border-radius: 50%;
      background-color: $gray-600;
      color: $light;
      font-weight: bold;
      line-height: 3rem;
      font-size: 3rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      span {
        line-height: inherit;
        font-size: inherit;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.region-footer-col {
  gap: 50px;
  flex-direction: wrap;
}

.cforge-table {
  tr {
    td,
    th {
      padding-block: 1.8rem;
    }
  }

  @include media-max(tablet) {
    thead {
      display: none;
    }

    tr {
      margin-bottom: 10px;
      border-bottom: 1px solid $dark;

      td {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &::before {
          content: attr(data-label);
        }
      }
    }
  }
}

/**
 * Format message in widget image.
 */
.form-managed-file {
  .messages {
    @extend .alert;
    @extend .mx-4;
    &--error {
      @extend .alert-danger;
    }
    &--warning {
      @extend .alert-warning;
    }
    &--success {
      @extend .alert-success;
    }
  }
}

/**
 * formatage des champs.
 */
.field {
  margin-bottom: $wbu-margin;
  .field__label {
    font-weight: 600;
  }
}

/**
 * vertical-tabs__panes
 */
.vertical-tabs__panes {
  padding: $wbu-margin * 0.5;
}
