@use "./drush_site_install_variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/bootstrap-all.scss";
.fst-italic {
  font-style: italic !important;
}
.opacity-75 {
  opacity: 0.75 !important;
}
label {
  margin-bottom: 0 !important;
  display: inline-flex;
  align-items: baseline;
  &.form-required::after {
    display: inline-block;
    content: "*";
    color: #f00;
  }
}

.form-actions {
  input {
    // &:nth-child(1) {
    //     @extend .btn-success;
    // }

    &:nth-child(2) {
      @extend .btn-secondary;
    }

    &:nth-child(3) {
      @extend .btn-danger;
    }
  }
}

input[type="checkbox"] {
  display: none;

  & + label {
    padding-inline: 60px 20px;
    padding-block: 10px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 50px;
      border: 2px solid $gray-300;
      transition: all 0.3s ease-out;
      max-height: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      background-color: $light;
      height: 100%;
      left: 0;
      aspect-ratio: 2/1;
    }

    &::after {
      z-index: 1;
      background-color: $gray-300;
      height: calc(100% - 6px);
      aspect-ratio: 1;
      top: calc(50);
      left: 4px;
      max-height: 16px;
    }
  }

  &:checked {
    & + label {
      &::before {
        border-color: $wbu-color-primary;
      }

      &::after {
        background-color: $wbu-color-primary;
        transform: translate(100%, -50%);
      }
    }
  }
}

// plus necessaire car on utilise les classes bootstrpa.
// .input-textfield,
// textarea {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     padding: 1rem 1.8rem;
//     margin-bottom: 0;
//     font-size: 1.6rem;
//     font-weight: 400;
//     line-height: 1.3;
//     color: #495057;
//     border: 1px solid $gray-500;
//     border-radius: 0;
//     outline-offset: 0;

//     &:focus {
//         outline-color: $wbu-color-primary;
//     }
// }

.form-type-search {
  width: 100%;
  margin-bottom: 5px;

  & + input[type="submit"] {
    margin-left: 0;
    min-width: 150px;
    padding-inline: 25px;
  }
}

.search-help-link {
  margin-bottom: 20px;
  display: block;
}

.my-search-form {
  form {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: end;

    & > div {
      margin-bottom: 0;
    }
  }
}

.search-form {
  margin-bottom: 30px;

  .search-advanced {
    display: block !important;
  }

  & > div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: end;

    & > div {
      margin-bottom: 0;
    }

    & > input[type="submit"] {
      margin-right: 0;
    }
  }
}

.form-select {
  // width: 100%;
  // padding: 1rem 1.8rem;
  // margin-bottom: 0;
  // font-size: 1.6rem;
  // font-weight: 400;
  // line-height: 1.3;
  // color: #495057;
  // border: 1px solid #adb5bd;
  // border-radius: 0;
  // outline-offset: 0;

  &:focus {
    outline-color: $wbu-color-primary;
  }

  option {
    padding: 1rem 1.8rem;
  }
}

.form--inline {
  @include media-min(SM) {
    margin-bottom: 30px;
    display: flex;

    // justify-content: center;
    & > * {
      margin: 0;
    }
  }

  width: fit-content;
  margin-inline: auto;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;

  .form-item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }
}
