.burger__button{
  background-color: #aa0a33
}
.hbk-mega-menu--burgers{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:#0f103e;
  color:#fff;
  margin-bottom:2rem
}
.hbk-mega-menu--items .item-link:after{
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:auto;
  border-bottom:1px solid #e9e9e9
}
.hbk-mega-menu--items .svg-close:hover,
.hbk-mega-menu--items .svg-close:hover path{
  stroke:#aa0a33
}
@media only screen and (min-width:992px){
  .hbk-mega-menu.style-tab-primary .item .hbk-mega-menu--block,
  .hbk-mega-menu.style-tab-primary .item .hbk-mega-menu--items__sub{
    border-top:4px solid #aa0a33
  }
  .hbk-mega-menu.style-tab-primary .item.open>.item-link,
  .hbk-mega-menu.style-tab-primary .item:hover>.item-link{
    background-color:#aa0a33;
    color:#fff;
    fill:#fff
  }
}
.hbk-mega-menu .overlay{
  position:fixed;
  cursor:pointer;
  opacity:0;
  z-index:0;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(15,16,62,.15);
  transition-property:all;
  transition-duration:.1s;
  transition-timing-function:ease-in-out;
  transition-delay:0s;
  margin-left:100%;
  display:none
}
.hbk-mega-menu .overlay:hover,.hbk-mega-menu .overlay:hover path{
  stroke:#aa0a33
}
.hbk-mega-menu--burgers svg,.hbk-mega-menu--burgers svg path{
  stroke:#0f103e
}
.hbk-mega-menu--burgers .block-form-search .blm-submit .hbk--icon-search{
  fill:#fff;
  width:4rem;
  height:4rem
}
@media only screen and (min-width:992px){
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items{
    max-width:1200px;
    width:calc(100% - 4rem)
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item:before{
    background-color:#aa0a33;
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item.is-active>.item-link,
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item.open>.item-link{
    color:#aa0a33
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item.is-active>.svg-arrow,
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item.open>.svg-arrow,
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item:hover>.svg-arrow{
    fill:#aa0a33
  }
}
.hbk-mega-menu.style-merseille.open-search .overlay-search{
  z-index:1000;
  display:block;
  background:#0f103e;
  opacity:1;
  height:100vh
}
.hbk-mega-menu.style-merseille{
  z-index:unset;
  padding:0
}
.hbk-mega-menu.style-merseille .hbk-mega-menu--items .item-link.is-active,
.hbk-mega-menu.style-merseille .hbk-mega-menu--items .item-link:hover{
  color:#aa0a33
}
