
/* Hide the warmongerers flag */
div.leaflet-bottom {
  display: none;
}

/** the shs module assumes this is present */
.hidden {
  display: none;
}
button.toolbar-handle {
  display:none;
}

div.social-links .socials--field .social-link {
  border: 2px solid #6c757d;
  padding: 5px;
  color: #6c757d;
  border-radius: 50%;
  transition: all .3s ease;
}
.social-link svg {
  width: 32px;
  aspect-ratio: 1;
}
div.social-links .socials--field{
    gap:10px
}

div#edit-notes-wrapper,
.clearboth {
  clear: both;
}

div#leaflet-map-view-membermap-page-1 {
  width: 100%;
}

article div.field--name-user-picture img{
  float: right;
  max-width: 33%;
  margin: 0em 0em 1em 1em;
}

div.leaflet-popup-content div.field--name-user-picture{
  float: none;
}