/**
the sheet is 800x533, displayed at 350px wide
First icon is at -58px -15px
each icon is 23px square, but with a gap of 
*/
.channels div.form-item:before, /* user edit form page */
div.channels:before{ /* user view page */
  width: 23px;
  height: 23px;
  background-image: url('social-media-icons.jpg');
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  background-size: 350px auto;
  border-radius: 10px;
  top: 5px;
  position: relative;
    
}

div.form-item-contactme-0-email:before,
div.form-item-contactme-0-altmail:before,
div.channels.email:before,
div.channels.altmail:before
{
  background-position: -238px -135px;
}

div.form-item-contactme-0-tel:before,
div.form-item-contactme-0-mob:before,
div.channels.tel:before,
div.channels.mob:before {
  background-position: -209px -135px;
}

div.form-item-contactme-0-whatsapp:before,
div.channels.whatsapp:before {
  background-position: -58px -135px;
}
div.form-item-contactme-0-telegram:before,
div.channels.telegram:before {
  background-position: -269px -15px;
}
div.form-item-contactme-0-web:before,
div.channels.web:before {
  background-position: -269px -135px;
}
div.form-item-contactme-0-twitter:before,
div.channels.twitter:before {
  background-position: -179px -15px;
}
div.form-item-contactme-0-instagram:before,
div.channels.instagram:before {
  background-position: -58px -15px;
}
div.form-item-contactme-0-linkedin:before,
div.channels.linkedin:before {
  background-position: -148px -15px;
}
div.form-item-contactme-0-facebook:before,
div.channels.facebook:before {
  background-position: -88px -15px;
}
div.form-item-contactme-0-google:before,
div.channels.google:before {
  background-position: -209px -15px;
}
div.form-item-contactme-0-skype:before,
div.channels.skype:before {
  background-position: -88px -135px;
}

span.field-prefix::before{
   content: '\A';
   white-space: pre   
}
details#edit-contactme-0 input.form-text {
  display:inline;    
}