{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set list_classes = "d-flex align-items-end breadcrumb-list container"%}
{% if breadcrumb %}
    {{attach_library("hbk_cforge/breadcrumb-style")}}
    <nav class="breadcrumb " role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        <ol class="{{list_classes}}">
        {% for item in breadcrumb %}
            {% set local_li = "" %}{% if item.url != '/' %}{% set local_li = li_classes ~ " translate-2" %}{% endif %}
            {% if item.text != "" %}
                <li class="{{local_li}}">
                    {% if item.url %}
                        {% if item.url == '/' %}
                            <a href="{{ item.url }}">
                                <svg viewbox="-0.5 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.003 16.822C.897 16.822 0 15.967 0 14.913c0-.526.228-1.029.63-1.39L15.127.52a2.075 2.075 0 0 1 2.746 0L32.37 13.523c.805.723.844 1.93.086 2.698a2.05 2.05 0 0 1-1.459.6h-.479v13.362c0 2.108-1.793 3.817-4.005 3.817h-4.01a3 3 0 0 1-3-3v-6.543c0-1.013-.829-1.848-1.854-1.905l-.148-.004H15.5c-1.062 0-1.938.79-1.998 1.768l-.005.14V31a3 3 0 0 1-3 3h-4.01c-2.211 0-4.004-1.71-4.004-3.817V16.822h-.48Z" fill="currentColor"/>
                                </svg>
                            </a>
                        {% else %}
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        {% endif %}
                    {% else %}
                        {{ item.text }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        </ol>
    </nav>
{% endif %}