.offline {
  background-size: 100% 100%; 
  background-image: url('envelope.jpg'); 
  padding: 1em 4em;
  display: inline-block;
  margin-right: 1em;
}

.not-offline {
  border: 1px solid #777; 
  background-color:#e0e0e0;
  padding: 1em;
}

a#area-print-action:before {
  content: url('print_icon.gif'); 
  padding-right: 3px;
}
