div views-columns-2 {
    column-count: 2;
    column-rule: 1em solid black;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
}
div views-columns-3 {
    column-count: 3;
    column-rule: 1em solid black;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
}

div views-columns-4 {
    column-count: 4;
    column-rule: 1em solid black;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
}

table div.field--type-worth {
  display: inline;
}
#main {
  width: 100% !important;
}