
input#edit-address-0-address-address-line1,
input#edit-address-0-address-address-line2{
  width: 70%;
}

div.field--name-coordinates {
  clear: right;
  width: 30%;
  float: right;
}

/* This message only concerns google map users */
div.geofield-map-message {
  display: none;
}
