.wbu-angle-up{
  transition:.3s ease
}
.wbu-angle-up:after{
  transition:.3s ease;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3 54.6 342.7c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25-6.2 6.2-14.4 9.3-22.6 9.3z'/%3E%3C/svg%3E")
}
.wbu-angle-right:after,.wbu-angle-up:after{
  content:"";
  position:absolute;
  height:2.2rem;
  width:2.3rem;
  transform:translate(-50%,-50%);
  background-position:50%;
  background-repeat:no-repeat
}
.wbu-angle-right:after{
  transition:transform .3s ease,background-image .3s ease;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 66.91 122.88' fill='%23fff'%3E%3Cpath d='M1.95 111.2a6.875 6.875 0 00.14 9.73 6.875 6.875 0 009.73-.14L64.94 66l-4.93-4.79 4.95 4.8c2.65-2.74 2.59-7.11-.15-9.76-.08-.08-.16-.15-.24-.22L11.81 2.09c-2.65-2.73-7-2.79-9.73-.14-2.72 2.65-2.78 7-.13 9.73l48.46 49.55L1.95 111.2z'/%3E%3C/svg%3E")
}
.breadcrumb{
  margin-bottom:0!important
}
.breadcrumb .breadcrumb-list{
  gap:5px
}
.breadcrumb .breadcrumb-list li{
  position:relative;
  padding-left:25px;
  overflow:hidden
}
.breadcrumb .breadcrumb-list li:first-child{
  padding-left:0
}
.breadcrumb .breadcrumb-list li:first-child:after,.breadcrumb .breadcrumb-list li:first-child:before{
  content:none
}
.breadcrumb .breadcrumb-list li:after,.breadcrumb .breadcrumb-list li:before{
  content:"";
  position:absolute;
  height:14px;
  width:2px;
  left:10px;
  background-color:#adb5bd;
  border-radius:50%
}
.breadcrumb .breadcrumb-list li:before{
  top:0;
  transform:translateY(-1px) rotate(-56deg)
}
.breadcrumb .breadcrumb-list li:after{
  bottom:0;
  transform:translateY(-1px) rotate(56deg)
}
.breadcrumb .breadcrumb-list li a{
  text-decoration:none
}
.breadcrumb .breadcrumb-list .translate-2{
  transform:translateY(2px)
}
.breadcrumb .breadcrumb-list svg{
  color:currentColor;
  width:16px;
  aspect-ratio:1
}
