hbk-me.wbu-angle-up {
    transition: .3s ease
}
.wbu-angle-up:after {
    transition: .3s ease;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3 54.6 342.7c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25-6.2 6.2-14.4 9.3-22.6 9.3z'/%3E%3C/svg%3E")
}
.wbu-angle-right:after, 
.wbu-angle-up:after {
    content: "";
    position: absolute;
    height: 2.2rem;
    width: 2.3rem;
    transform: translate(-50%, -50%);
    background-position: 50%;
    background-repeat: no-repeat
}
.wbu-angle-right:after {
    transition: transform .3s ease, background-image .3s ease;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 66.91 122.88' fill='%23fff'%3E%3Cpath d='M1.95 111.2a6.875 6.875 0 00.14 9.73 6.875 6.875 0 009.73-.14L64.94 66l-4.93-4.79 4.95 4.8c2.65-2.74 2.59-7.11-.15-9.76-.08-.08-.16-.15-.24-.22L11.81 2.09c-2.65-2.73-7-2.79-9.73-.14-2.72 2.65-2.78 7-.13 9.73l48.46 49.55L1.95 111.2z'/%3E%3C/svg%3E")
}
.hbk-mega-menu{
    z-index:99;
    position:relative;
    max-height:100vh 
}

.hbk-mega-menu.style-merseille {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem
}

.hbk-mega-menu .mega-item .hbk-mega-menu--block{
   background-color:#fff;
   opacity:0;
   z-index:0;
   left:0;
   position:relative;
   z-index:-1;
   max-height:0;
   overflow:hidden;
   overflow-y:auto;
   box-shadow:0 8px 10px -5px #ccc;
   text-align:left;
   transition-property:all;
   transition-duration:.7s;
   transition-timing-function:ease-in-out 
}
.region--content>.block,.region--sidebar_right>.block{
  margin-bottom:3rem
}
.js-text-format-wrapper{
  padding:2rem;
  border:1px solid #ccc;
  background:#fdfcfc
}
legend .btn-collapse{
  position:relative;
  padding-right:5Opx
}
legend .btn-collapse svg{
  position:absolute;
  right:10px;
  width:21px;
  height:21px;
  aspect-ratio:1/2;
  transform:translateY(-50%) rotate(90deg);
  top:50%;
  transition:all .3s ease-in
}
legend .btn-collapse[aria-expanded=true] svg{
  transform:translateY(-50%) rotate(-90deg)
}
form>fieldset{
  margin-bottom:1.5rem
}

div.region--top_header {
  display:flex;
}
.main-footer-left .menu-element,
.main-footer-left .menu-item{
  margin-bottom:5px;
  line-height:2rem
}
.page-footer .main-footer .main-footer-right .footer-site-logo img{
  max-width:100%;
  max-height:60px
}
.page-footer a{
  color:inherit
}

div.region--footer nav.horiz ul{
  display:flex;
  width: calc(100% - 4rem);
}

div.region--footer nav.horiz ul li{
  min-width: 100px;
  flex-wrap: unset;
  align-items: center;
}
.page-footer .end-footer .region--footer_end .hbk-mega-menu.style-merseille{
  margin:0!important;
  padding:0!important
}

nav ul.cforge-menu .menu-item a{
  padding:4px 2rem;
  display:inline-block;
  width:100%;
  transition:all .15s ease;
  font-weight:600;
  text-decoration:none;
  position:relative;
}
section.main-menu {
  margin-top: 1em;
}

.hbk-mega-menu .mega-item.open>.svg-arrow{
  transform:rotate(-180deg)
}
.hbk-mega-menu.big-svg .item .svg-arrow{
  top:.5rem;
  width:5rem;
  height:5rem
}
.hbk-mega-menu--items .item .svg-arrow{
  min-width:4rem;
  width:4rem;
  height:4rem;
  margin-left:1rem;
  transform-origin:center;
  transform:rotate(0);
  position:absolute;
  right:0;
  top:1rem;
  padding:1rem;
  cursor:pointer;
  transition-property:all;
  transition-duration:.3s;
  transition-timing-function:ease-in-out
}
.main-menu .menu-wrapper .site-information{
  display:flex;
  flex-direction:column
}
.site-information{
  display:none
}
.wbu-angle-up{
  transition:.3s ease
}
.wbu-angle-up:after{
  transition:.3s ease;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3 54.6 342.7c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25-6.2 6.2-14.4 9.3-22.6 9.3z'/%3E%3C/svg%3E")
}
.wbu-angle-right:after,.wbu-angle-up:after{
  content:"";
  position:absolute;
  height:2.2rem;
  width:2.3rem;
  transform:translate(-50%,-50%);
  background-position:50%;
  background-repeat:no-repeat
}
.wbu-angle-right:after{
  transition:transform .3s ease,background-image .3s ease;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 66.91 122.88' fill='%23fff'%3E%3Cpath d='M1.95 111.2a6.875 6.875 0 00.14 9.73 6.875 6.875 0 009.73-.14L64.94 66l-4.93-4.79 4.95 4.8c2.65-2.74 2.59-7.11-.15-9.76-.08-.08-.16-.15-.24-.22L11.81 2.09c-2.65-2.73-7-2.79-9.73-.14-2.72 2.65-2.78 7-.13 9.73l48.46 49.55L1.95 111.2z'/%3E%3C/svg%3E")
}
nav ul.menu{
  margin-left:0
}
.local-action-menu .local-link{
  position:relative;
  display:flex;
  padding-left:1.5rem
}
.local-action-menu .local-link:before{
  content:" + ";
  display:block;
  padding-right:1rem
}
div.tabs{
  margin:1em 0
}
ul.tabs{
  margin:0 0 .5em;
  padding:0;
  list-style:none
}
.tabs>li{
  display:inline-block;
  margin-right:.3em
}
.tabs a{
  display:block;
  padding:.2em 1em;
  text-decoration:none
}
.tabs a.is-active{
  background-color:#eee
}
.tabs a:focus,.tabs a:hover{
  background-color:#f5f5f5
}
.pager__items{
  clear:both;
  text-align:center;
  padding-left:0
}
.pager__item{
  display:inline;
  padding:.5em
}
.pager__item.is-active{
  font-weight:700
}
ul.menu{
  padding:0;
  list-style: none outside;
  text-align: left;
  margin-left: 0;
}
.menu-item--collapsed,.menu-item--expanded{
  list-style-type:none
}
.menu-item{
  margin:0;
  padding-top:.2em
}
ul.menu a.is-active{
  color:#000
}
button.link{
  margin:0;
  padding:0;
  cursor:pointer;
  border:0;
  background:transparent;
  font-size:1em
}
label button.link{
  font-weight:700
}
ul.inline,ul.links.inline{
  display:inline;
  padding-left:0
}
ul.inline li{
  display:inline;
  padding:0 .5em;
  list-style-type:none
}
ul.links a.is-active{
  color:#000
}
form .field-multiple-table{
  margin:0
}
form .field-multiple-table .field-multiple-drag{
  width:30px;
  padding-right:0
}
form .field-multiple-table .field-multiple-drag .tabledrag-handle{
  padding-right:.5em
}
form .field-add-more-submit{
  margin:.5em 0 0
}
tr.even .form-item,tr.odd .form-item{
  margin-top:0;
  margin-bottom:0
}
.form-composite>.fieldset-wrapper>.description,.form-item .description{
  font-size:.85em
}
label.option{
  display:inline;
  font-weight:400
}
.form-composite>legend,.label{
  display:inline;
  margin:0;
  padding:0;
  font-size:inherit;
  font-weight:700
}
.form-checkboxes .form-item,.form-radios .form-item{
  margin-top:.4em;
  margin-bottom:.4em
}
.form-type-checkbox .description,.form-type-radio .description{
  margin-left:2.4em
}
.marker{
  color:#e00
}
.form-required:after{
  display:inline-block;
  height:6px;
  margin:0 .3em;
  content:"";
  vertical-align:super;
  background-repeat:no-repeat;
  background-size:6px 6px
}
abbr.ajax-changed,abbr.tabledrag-changed{
  border-bottom:none
}
.form-item input.error,.form-item select.error,.form-item textarea.error{
  border:2px solid red
}
.form-item--error-message:before{
  display:inline-block;
  width:14px;
  height:14px;
  content:"";
  vertical-align:sub;
  background-size:contain
}
.search-block-form .form-actions,.search-block-form .form-item{
  margin-bottom:0!important
}

div.block {
  clear: both;
}
@media only screen and (min-width:576px){
  div.branding {
    max-width:33%;
    text-align: center
  }
}

.hbk-mega-menu .overlay-desktop {
    margin: 0;
    bottom: auto;
    height: 100vh;
    display: none;
    position: absolute
}
div.social-links {
  background-color: #f8f9fa;
  padding: 1em;
}

div.credit {
  text-align: center
}

.hbk-mega-menu--items {
  list-style: none;
  position: fixed;
  top: 0;
  background: #fff;
  left: 0;
  right: auto;
  width: calc(100% - 50px);
  max-width: 400px;
  padding: 6rem 2rem 2rem;
  height: 0;
  max-height: 0;
  overflow: hidden;
  overflow-y: hidden;
  margin: 0 0 0 -100%;
  margin-left: -100%;
  z-index: 99;
  font-size: 150%;
}

.hbk-mega-menu--items .item.open>.svg-arrow{
  transform:rotate(-180deg)
}
.hbk-mega-menu--items .item.open>.hbk-mega-menu--block,
.hbk-mega-menu--items .item.open>.hbk-mega-menu--items__sub{
  max-height:700px;
  opacity:1;
  z-index:0
}
.hbk-mega-menu--items.open{
  height:100%;
  max-height:100vh;
  overflow-y:auto;
  margin-left:0;
  line-height: 2.5em;
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: ease-in-out;
  transition-delay: .15s;
}
.hbk-mega-menu.style-merseille .hbk-mega-menu--items.open{
  z-index:999
}
.burger__button .line{
    fill: none;
    stroke: #fff;
    stroke-width: 6;
    transition: stroke-dash .6s cubic-bezier(.4,0,.2,1),stroke-dashoffset .6s cubic-bezier(.4,0,.2,1) 
}

@media only screen and (min-width:992px){
  .hbk-mega-menu{
    padding:0 3rem 
  }
  .hbk-mega-menu--burgers .burger__button{
    display:none 
  }
  .hbk-mega-menu .mega-item .hbk-mega-menu--block{
    padding:1.6rem;
    box-shadow:0 8px 24px -5px #ccc;
    position:absolute;
    top:100%;
    left:0;
    right:0;
    bottom:auto;
  }
  .hbk-mega-menu .mega-item:hover>.hbk-mega-menu--block{
    z-index:3
  }
  ul.hbk-mega-menu--items {
    display: flex;
    width: calc(100% - 50px);
    z-index: 99;
    transition-property:all;
    transition-duration:.7s;
    transition-timing-function:ease-in-out;
    transition-delay:.15s
  }
  
  /** underline the menu item on hover **/
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items > .item.menu-item--active-trail:before, 
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items > .item::before{
    width: 100%;    
    top: 3em;
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items > .item::before {
    position: absolute;
    height: 4px;
    left: 1em;
    right: auto;
    width: 0;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    content: "";
  }
  
   
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items{
    background-color:transparent;
    justify-content:end
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item{
    flex-grow:0;
    min-width:100px
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item>a.item-link{
    padding-right:0
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item>.svg-arrow{
    height:8px;
    width:2.3rem;
    padding:0;
    min-width:2rem
  }
    .hbk-mega-menu .mega-item .svg-arrow{
    position:relative;
    top:0;
    right:0
  }
  .hbk-mega-menu--items .item:hover>.svg-arrow{
    transform:rotate(-180deg)
  }
  .hbk-mega-menu .mega-item:hover>.hbk-mega-menu--block,
  .hbk-mega-menu .mega-item:hover>.hbk-mega-menu--items__sub{
    max-height:700px;
    opacity:1;
    z-index:0
  }
  .hbk-mega-menu.style-tab-primary .item.open>.svg-arrow,
  .hbk-mega-menu.style-tab-primary .item:hover>.svg-arrow{
    margin-left:-3rem;
    color:#fff;
    fill:#fff;
  }
  .hbk-mega-menu .mega-item:hover>.svg-arrow{
    transform:rotate(-180deg)
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item>.svg-arrow{
    position:relative;
    margin:0 0 2rem
  }
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items .item-link{
    font-size:18px
  }
  
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items .hbk-mega-menu--items__sub>.item:hover:before{
    width:calc(100% - 4rem)
  }
  
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item.is-active:before,
  .hbk-mega-menu.style-merseille .hbk-mega-menu--items>.item.open:before{
    width:100%
  }
  
    .hbk-mega-menu-open {
        overflow: hidden !important
    }
  .hbk-mega-menu .overlay-mobile{
    display:none!important;
    position:relative
  }
  .hbk-mega-menu.style-merseille .overlay-search .svg-close{
    top:10rem;
    right:8rem
  }
  
  ul.hbk-mega-menu--items__sub{
    box-shadow:0 3px 2px 1px #ebebeb;
    position:absolute;
    padding-left:0;
    top: 3.2em;
  }
  .hbk-mega-menu--items__sub .hbk-mega-menu--items__sub{
    left:100%;
    right:auto;
    top:0
  }
  .hbk-mega-menu .item.open>.hbk-mega-menu--items__sub,
  .hbk-mega-menu .item:hover>.hbk-mega-menu--items__sub{
    overflow:visible
  }
  .hbk-mega-menu--items .item:hover>.hbk-mega-menu--items__sub{
    z-index:3;
    max-height:700px;
    opacity:1;
    z-index:0
  }
  
  .hbk-mega-menu--items .item{
    justify-content:center;
    text-align:center;
    min-width:0
  }
}

.open ul.hbk-mega-menu--items__sub li.item {
  font-size: 0.9em;
  line-height: 1.1em;
}

ul.hbk-mega-menu--items:not(.open) li.item{
  padding:0;
  position:relative;
}
ul.hbk-mega-menu--items>li.item{
  padding:0;
  position:relative;
}

.hbk-mega-menu .mega-item.open>.hbk-mega-menu--block,
.hbk-mega-menu .mega-item.open>.hbk-mega-menu--items__sub{
  max-height:700px;
  opacity:1;
  z-index:0
}
.hbk-mega-menu--items__sub{
  list-style:none;
  margin:0;
  position:relative;
  opacity:0;
  z-index:1;
  left:0;
  top:100%;
  background-color:#fff;
  padding:0 0 0 2rem;
  max-height:0;
  overflow:hidden;
  overflow-y:auto;
  box-shadow:0 8px 10px -5px #ccc;
  transition-property:all;
  transition-duration:.7s;
  transition-timing-function:ease-in-out
}
.hbk-mega-menu .hbk-mega-menu--items.open~.overlay-mobile{
  display:block;
  opacity:1;
  margin-left:0;
  transition-delay:.7s;
  transition-duration:.3s;
  z-index:1
}

.hbk-mega-menu--items .item-link{
  display:block;
  position:relative;
  text-decoration:none;
  color:inherit;
  transition-property:all;
  transition-duration:.3s;
  transition-timing-function:ease-in-out;
  width:100%
}

.hbk-mega-menu.style-merseille .hbk-mega-menu--items .item:hover:before,
.hbk-mega-menu.style-merseille .hbk-mega-menu--items .hbk-mega-menu--items__sub>.item:hover:before{
  width:100%;
  top: 3em;
}

div.worth-widget input.form-control{
  display: inline;
}

div.view-members div.attachment-before span > a {
  margin-right: 0.4em;
  display: inline-block;
}

img.block-logo {
  min-width: 200px;
  max-height: 200px;
}
.hbk-mega-menu.style-merseille .overlay-search .svg-close{
  width:3rem;
  height:3rem;
  position:absolute;
  top:4rem;
  right:3rem;
  visibility:hidden;
  opacity:0;
  transition-property:all;
  transition-duration:.15s;
  transition-timing-function:ease-in-out;
  left:auto;
  cursor:pointer
}
.hbk-mega-menu.style-merseille.open-search .overlay-search .svg-close{
  visibility:visible;
  opacity:1;
  transition-duration:1s
}
.hbk-mega-menu--items .svg-close{
  position:fixed;
  z-index:9;
  top:3rem;
  left:2rem;
  bottom:auto;
  right:auto;
  cursor:pointer;
  display:none;
  opacity:0;
  transition-property:all;
  transition-duration:1.5s;
  transition-timing-function:ease-in-out
}
.hbk-mega-menu--items.open .svg-close{
  display:block;
  opacity:1
}

.burger__button{
  width:4rem;
}
.burger__button .line{
  stroke-width:6
}
.burger__button.opened .line{
  stroke-width:0
}
div.block input[type=text] {
  width: 95%;
}

@media only screen and (min-width:992px){
  .hbk-mega-menu ul{
    padding:0;
    margin:0
  }
  /** Menu position for wide screen */
  .hbk-mega-menu--items{
    position:unset;
    top:auto;
    left:auto;
    right:auto;
    bottom:auto;
    max-width:100%;
    padding:0;
    max-height:none;
    margin-left:0;
    width:auto;
    height:auto;
    overflow:visible
  }
  .hbk-mega-menu--items .item .item{
    text-align:left
  }
  .hbk-mega-menu--items .item:hover>.hbk-mega-menu--block{
    max-height:700px;
    opacity:1;
    z-index:0
  }
  .hbk-mega-menu .mega-item:hover>.hbk-mega-menu--block{
    max-height:700px;
    opacity:1;
    z-index:0
  }
  .hbk-mega-menu--items .item-link{
    width:auto
  }
  .hbk-mega-menu--items .item-link:after{
    display:none
  }
  .hbk-mega-menu--items .item.mega-item.open~.overlay-desktop,
  .hbk-mega-menu--items .item.mega-item:hover~.overlay-desktop{
    opacity:1;
    margin-top:0;
    transition-delay:0s;
    transition-duration:0s;
    z-index:-1;
    display:block
  }
  .hbk-mega-menu--items__sub .item{
    text-align:left
  }
  .hbk-mega-menu--items__sub .item .item-link{
    padding-inline:2rem
  }
  .hbk-mega-menu .mega-item{
    position:unset
  }
}
.hbk-mega-menu--burgers .block-form-search{
    position:fixed;
    top:40%;
    left:50%;
    transform:translateX(-50%);
    z-index:1001;
    width:100%;
    max-width:600px;
    padding:2rem;
    opacity:0;
    transition-property:all;
    transition-duration:.6s;
    transition-timing-function:ease-in-out;
    transition-duration:.2s;
    margin-top:calc(-100% - 150px) 
}
.hbk-mega-menu--burgers .block-form-search form .form-actions{
    align-self:center 
}
.hbk-mega-menu--burgers .block-form-search .form-type-search{
    flex-grow:2 
}
.hbk-mega-menu--burgers .block-form-search .blm-submit{
    padding-top:0;
    padding-bottom:0;
    padding-right:0 
}
.hbk-mega-menu--burgers .block-form-search .blm-key-search:focus {
    outline: none
}
.hbk-mega-menu--burgers{
    background:transparent;
    margin-bottom:0 
}
.hbk-mega-menu .overlay-search{
    z-index:1000;
    cursor:default;
    background:transparent;
    opacity:0;
    display:block;
    margin:0;
    transition-duration:.4s;
    height:0 
}
.hbk-mega-menu .overlay-search .svg-close path{
    fill:#fff!important;
    stroke:#fff!important 
}
.hbk-mega-menu.style-merseille .hbk-mega-menu--items .hbk-mega-menu--items__sub .item .item-link{
  padding:1rem 2rem;
  white-space: nowrap;
}

.hbk-mega-menu.style-merseille.open-search .block-form-search {
    opacity: 1;
    transition-duration: .3s;
    margin-top: 0
}
.hbk-mega-menu .hbk-mega-menu--items>.item>.item-link{
    font-weight:700;
    flex-grow:0;
    padding-inline:2rem;
}
.hbk-mega-menu:hover{
    z-index:999 
}

.shadow-sm{
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
}
.shadow{
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}
.shadow-lg{
  box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important
}
.shadow-none{
  box-shadow:none!important
}
.w-25{
  width:25%!important
}
.w-50{
  width:50%!important
}
.w-75{
  width:75%!important
}
.w-100{
  width:100%!important
}
.h-25{
  height:25%!important
}
.h-50{
  height:50%!important
}
.h-75{
  height:75%!important
}
.h-100{
  height:100%!important
}
.h-auto{
  height:auto!important
}
.mw-100{
  max-width:100%!important
}
.mh-100{
  max-height:100%!important
}
.min-vw-100{
  min-width:100vw!important
}
.min-vh-100{
  min-height:100vh!important
}
.vw-100{
  width:100vw!important
}
.vh-100{
  height:100vh!important
}
.m-0{
  margin:0!important
}
.mt-0,.my-0{
  margin-top:0!important
}
.mr-0,.mx-0{
  margin-right:0!important
}
.mb-0,.my-0{
  margin-bottom:0!important
}
.m-1{
  margin:.25rem!important
}
.mt-1,.my-1{
  margin-top:.25rem!important
}
.mr-1,.mx-1{
  margin-right:.25rem!important
}
.mb-1,.my-1{
  margin-bottom:.25rem!important
}
.ml-1,.mx-1{
  margin-left:.25rem!important
}
.m-2{
  margin:.5rem!important
}
.mt-2,.my-2{
  margin-top:.5rem!important
}
.mr-2,.mx-2{
  margin-right:.5rem!important
}
.mb-2,.my-2{
  margin-bottom:.5rem!important
}
.ml-2,.mx-2{
  margin-left:.5rem!important
}
.m-3{
  margin:1rem!important
}
.mt-3,.my-3{
  margin-top:1rem!important
}
.mr-3,.mx-3{
  margin-right:1rem!important
}
.mb-3,.my-3{
  margin-bottom:1rem!important
}
.ml-3,.mx-3{
  margin-left:1rem!important
}
.m-4{
  margin:1.5rem!important
}
.mt-4,.my-4{
  margin-top:1.5rem!important
}
.form-managed-file .messages,.mr-4,.mx-4{
  margin-right:1.5rem!important
}
.mb-4,.my-4{
  margin-bottom:1.5rem!important
}
.form-managed-file .messages,.ml-4,.mx-4{
  margin-left:1.5rem!important
}
.m-5{
  margin:3rem!important
}
.mt-5,.my-5{
  margin-top:3rem!important
}
.mr-5,.mx-5{
  margin-right:3rem!important
}
.mb-5,.my-5{
  margin-bottom:3rem!important
}
.ml-5,.mx-5{
  margin-left:3rem!important
}
.p-0{
  padding:0!important
}
.pt-0,.py-0{
  padding-top:0!important
}
.pr-0,.px-0{
  padding-right:0!important
}
.pb-0,.py-0{
  padding-bottom:0!important
}
.pl-0,.px-0{
  padding-left:0!important
}
.p-1{
  padding:.25rem!important
}
.pt-1,.py-1{
  padding-top:.25rem!important
}
.pr-1,.px-1{
  padding-right:.25rem!important
}
.pb-1,.py-1{
  padding-bottom:.25rem!important
}
.pl-1,.px-1{
  padding-left:.25rem!important
}
.p-2{
  padding:.5rem!important
}
.pt-2,.py-2{
  padding-top:.5rem!important
}
.pr-2,.px-2{
  padding-right:.5rem!important
}
.pb-2,.py-2{
  padding-bottom:.5rem!important
}
.pl-2,.px-2{
  padding-left:.5rem!important
}
.p-3{
  padding:1rem!important
}
.pt-3,.py-3{
  padding-top:1rem!important
}
.pr-3,.px-3{
  padding-right:1rem!important
}
.pb-3,.py-3{
  padding-bottom:1rem!important
}
.pl-3,.px-3{
  padding-left:1rem!important
}
.p-4{
  padding:1.5rem!important
}
.pt-4,.py-4{
  padding-top:1.5rem!important
}
.pr-4,.px-4{
  padding-right:1.5rem!important
}
.pb-4,.py-4{
  padding-bottom:1.5rem!important
}
.pl-4,.px-4{
  padding-left:1.5rem!important
}
.p-5{
  padding:3rem!important
}
.pt-5,.py-5{
  padding-top:3rem!important
}
a.tabledrag-handle .handle {
  width: 24px;
  height: 24px;
  margin: 0;
  background-position: 0 0;
}
caption{
  padding-top:.75rem;
  padding-bottom:.75rem;
  color:#6c757d;
  text-align:left;
}

div.carousel-item img {
  height: 300px;
}