{# 
/**
* @file * Default theme implementation to display a single page.
* * The doctype, html, head and body tags are not in this template  Instead they
* can be found in the html.html.twig template in this directory. 
* * Available variables: 
* * General utility variables: 
* -base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory. 
* - is_front: A flag indicating if the current page is the front page. 
* - logged_in: A flag indicating if the user is registered and signed in. 
* - is_admin: A flag indicating if the user has permission to access 
* administration pages. 
* * Site identity: 
* - front_page: The URL of the front page. Use this instead of base_path when 
* linking to the front page. This includes the language domain or prefix.
* - site_logo: The url of the logo image, as defined in theme settings. 
* - site_name: The name of the site. This is empty when displaying the site 
* name has been disabled in the theme settings. 
* - site_slogan: The slogan of the site. This is empty when displaying the site 
* slogan has been disabled in theme settings. 
* * Page content (in order of occurrence in the default page.html.twig): 
* - title_prefix: Additional output populated bymodules, intended to be 
* displayed in front of the main title tag that appears in the template. 
* - title: The page title, for use in the actual content. 
* - title_suffix: Additional output populated by modules, intended to be 
* displayed after the main title tag that appears in the template. 
* - messages: Status and error messages. Should be displayed prominently. 
* - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the 
* view and edit tabs when displaying a node). 
* - action_links: Actions local to the page, such as "Add menu" on the menu 
* administration interface.  
* - node: Fully loaded node, if there is an automatically-loaded node 
* associated with the page and the node ID is the second argument in the 
* page's path (e.g. node/12345 an node/12345/revisions, but not 
* comment/reply/12345). 
* * Regions: 
* - page.header: Items for the header region. 
* - page.breadcrumb: 
* - page.content: The main content of the current page. 
* - page.slider: 
* - page.sidebar_left: Items for the first sidebar. 
* - page.sidebar_right: Items for the second sidebar. 
* - page.bottom: Items for the footer region. 
* - page.footer: Items for the footer region. 
* * @see template_preprocess_page() 
* @see html.html.twig * * @ingroup themeable 
*/ 
#}
{% if page.sidebar_right and page.sidebar_left %}
	{% set content_flex_class = "col" %}
	{% set content_flex_disposition = "row justify-content-between" %}
{% elseif page.sidebar_right  %}
	{% set content_flex_class = "col" %}
	{% set content_flex_disposition = "row justify-content-between" %}
{% elseif  page.sidebar_left %}
	{% set content_flex_class = "col" %}
	{% set content_flex_disposition = "row justify-content-between" %}
{% else %}
	{% set content_flex_disposition = "justify-content-around" %}
	{% set content_flex_class = "full-content no-side-region col" %}
{% endif %}
<div {{ attributes }}>
    <section class="main-menu container">
        <div class = "branding">
          <a href="/"> {% if site_logo %}{{ site_logo }}{% else %}{{ site_name }}{% endif %}</a>
          <br />{{ site_slogan }}
        </div>
        {{ page.top_header }}
        <div class="hbk-mega-menu--burgers d-lg-none">
          <!--region burger button see menu-style.css-->
          <div class="burger__button" aria-label="Main Menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
              <path class="line" d="M 20,30 H 80"/>
              <path class="line" d="M 20,50 H 80"/>
              <path class="line" d="M 20,70 H 80" />
            </svg>
          </button>
        </div>
    </section>
    <header role="banner">
        {{ page.header }}
    </header>
    <div class="page-breadcrumb container">
        {{ page.breadcrumb }}
    </div>
    {% if page.slider %}
        <div id="page-slider" class="mb-5 container">
            {{ page.slider }}
        </div>
    {% endif %}
    <div class="page-body container pt-4 position-relative mb-5">
        <div class="main-layout {{content_flex_disposition}}">
            {% if page.sidebar_left %}
                <aside id="page-sidebar_left" class="col-md-4 col-lg-2 position-sticky page-sidebar page-sidebar--left" role="complementary">
                    {{ page.sidebar_left }}
                </aside>
            {% endif %}
            <main role="main" id="main" class="{{content_flex_class}} order-1 order-md-0">
                <div id="main-inner">
                    <!--page content-->
                    {{ page.content }}
                    <!--/page content-->
                </div>
            </main>
            <!-- END MAIN -->
            {% if page.sidebar_right %}
                <aside id="page-sidebar_right" class="col-md-4 col-lg-3 position-sticky  order-0 order-md-1 page-sidebar page-sidebar--right" role="complementary">
                    {{ page.sidebar_right }}
                </aside>
            {% endif %}
        </div>
    </div>
    <div class="page-bottom container down-chevron">
      {{ socials }}
    </div>
    {% set whole_footer_flex = "justify-content-end" %}
    {% if page.footer %}{% set whole_footer_flex = "justify-content-between" %}{% endif %}
    <footer class="page-footer">
        <div class=" py-5 whole-footer container">
            <div class="main-footer row">
                {% if page.footer %}
                    <div class="col-sm-6  small main-footer-left">
                        {{page.footer}}
                    </div>
                {% endif %}
                <!--<div class="col-sm-6 main-footer-right text-center">
                    {% if site_logo %}
                        <div class="footer-site-logo mb-2">
                            <a href="/">
                                {{site_logo}}
                            </a>
                        </div>
                        <div class="footer-site-name font-weight-bold ">
                            <a href="/">
                                {{site_name}}
                            </a>
                        </div>
                    {% endif %}
                </div>-->
            </div>
        </div>
        <div class="end-footer small py-5">
            <div class="container">
                <div class="credit">{% trans %}Site designed and hosted for free by <a href="http://communityforge.net">Community Forge</a>, a non-profit association registered in France.{% endtrans %}</div>
            </div>
        </div>
    </footer>
</div>